<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.First"
        tools:targetApi="31">
        <!--p296 https://blog.csdn.net/black_bird_cn/article/details/103083000-->
        <!-- android:name="androidx.core.content.FileProvider"
        替换 ：https://blog.csdn.net/qq_39827677/article/details/104677336
        -->
       <!-- <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>-->


        <activity
            android:name=".ActivityVideo"
            android:exported="false" />
        <activity
            android:name=".ActivitygCamera"
            android:exported="false" />
        <activity
            android:name=".News2"
            android:exported="false" />
        <activity
            android:name=".NewsContentActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.FragmentTestActivity"
            android:exported="false"
            android:label="FregmentTest" />
        <activity
            android:name=".testRecyclerView.ActivityUITest"
            android:exported="false"
            android:label="使用RecyclerView" />
        <activity
            android:name=".testListView.ActivityListView"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="true"
            android:label="第3个activity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:label="第2个activity">

            <!--
exported
当前Activity是否可以被另一个Application的组件启动：true允许被启动；false不允许被启动。
如果它写在service中并且为false则表示则该服务不能够跨进程使用。
            -->
            <intent-filter> <!-- 指定当前活动能够响应的action和category 只有同时匹配上intent中的这两项，这个活动才能响应该intent -->
                <action android:name="com.example.activitytest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 调用startActivity()方法的时候会自动将这个category添加到Intent中。 -->
                <category android:name="android.intent.category.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="第1个activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>

